ul li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.mb30 {
    margin-bottom: 30px;
}

.textPrimary {
    color: #d9138a;
}

.myCenter {
    display: block;
    margin: 0 auto;
}
